/*=================================
//--//--> SERVICES - CARD-C
===============================*/
.services .card-box-c{
    position: relative;
}
@media(max-width: 767px){
    .services .card-box-c{
        margin-bottom: 2rem;
        /* border: 2px solid green; */
    }
}
.services .card-header-c{
    padding: 0 1rem 0 0 !important;
    /* border: 2px solid red; */
}
.services .card-body-c{
    padding: 0.5rem 0.5rem 0 0.5rem;
}
@media(max-width: 767px){
    .services .card-body-c{
        padding: 0;
    }
}
.services .card-footer-c{
    padding-left: 0.5rem;
}
.services .card-box-ico{
    padding: 1rem 3rem 1rem 0;
    /* border: 5px solid #ca792e; */
}
.services .card-box-ico span{
    font-size: 2.5rem;
    color: #000;
}
.services .title-c{
    font-size: 1rem;
    font-weight: 600;
    margin-left: -40px;
}
@media (min-width: 768px){
    .services .title-c{
        font-size: 1.6rem;
    }
}
@media (min-width: 992px){
    .services .title-c{
        font-size: 1.6rem;
    }
}
@media (min-width: 640px){
    .services .title-c{
        font-size: 1.6rem;
    }
}
@media (max-width: 640px){
    .services .title-c{
        font-size: 1.5rem;
    }
}
.services .card-body-c .content-c{
    font-weight: 500;
    color: #555;
    letter-spacing: initial;
}