/*=======/ SINGLE PROPERTY /=========*/
.amenities-list{
    /* background-color: aqua; */
    display: flex;
}
.gallery-property {
    margin-bottom: 3rem;
}
.property-price {
    margin: 0 auto;
}
.property-price .card-header-c{
    padding: 0;
}
.summary-list {
    padding-right: 1rem;
    color: #000000;
}
.summary-list .list {
    padding: 0;
    line-height: 2;
}
.summary-list .list span {
    color: #555555;
}
.card-box-ico {
    padding: 1rem 3rem 1rem 2.5rem;
    border: 2px solid #2eca6a;
}
.card-box-ico span {
    font-size: 1.6rem;
    color: #000000;
}
.title-c {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: -40px;
}
.carousel-item-b img {
    height: 100vh;
    width: 100%;
    padding-bottom: 2rem;
    object-fit: contain;
    
}
@media (min-width: 768px){
    .title-c{
        font-size: 0.9rem;
    }
}
@media (min-width: 992px){
    .title-c{
        font-size: 2.5rem;
    }
}
@media (max-width: 768px){
    .property-agent{
        margin-top: 2.5rem;
    }
}
.property-agent .title-agent{
    font-weight: 600;
}
.property-agent ul {
    line-height: 2;
    color: #000000;
}
.property-agent .socails-a{
    text-align: center;
}
@media (max-width: 991px){
    .property-contact {
        margin-top: 2.5rem;
    }
}
.intro{
    height: 100vh;
    position: relative;
    margin-bottom: 3rem;
}
.intro .swiper-pagination .swiper-pagination-bullet{
    width: 18px;
    height: 10px;
    background-color: #666363;
    border-radius: 0;
    opacity: 1;
    transition: 0.3s;
}
.intro .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #2eca6a !important;
    width: 36px;
}

/*** css optional changes **/
.property-single{
    background-color: white;
}

/*** media queries ***/
@media (min-width: 768px){
    .intro-single{
        padding-bottom: 0 !important;
        padding-top: 6.6rem !important;
    }
    .intro{
        margin-bottom: 1rem !important;
        height: 90vh;
    }
    .intro img{
        width: 100%;
        height: 100%;
        object-fit: cover !important;
        background-repeat: no-repeat;
    }
    .card-header-c{
        padding: 0;
    }
    .title-c{
        font-size: 1.9rem;
        margin-left: -40px;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .intro-single{
        padding-bottom: 0 !important;
        padding-top: 6rem !important;
    }
    .intro{
        padding: 0 !important;
        margin: 0 !important;
        height: 100vh;
        margin-bottom: 0.5rem !important;
        
    }
    .intro img{
        width: 100%;
        height: 100%;
        object-fit: cover !important;
        background-repeat: no-repeat;
            
    }
    .title-box-d{
        padding-top: 0.5rem;
        
    }
    .section-t3{
        padding-top: 1.2rem;
    }
}
@media (min-width: 480px) and (max-width: 576px){
    .intro-single{
        padding-bottom: 0 !important;
        padding-top: 6rem !important;
    }
    .intro{
        padding: 0 !important;
        margin: 0 !important;
        height: 100vh;
        margin-bottom: 0.5rem !important;
        
    }
    .intro img{
        width: 100%;
        height: 100%;
        object-fit: cover !important;
        background-repeat: no-repeat;
            
    }
    .title-box-d{
        padding-top: 0.5rem;
    }
    .section-t3{
        padding-top: 0.5rem;
    }

}
@media (min-width: 360px) and (max-width: 480px){
    .intro-single{
        padding-bottom: 0.5rem !important;
        padding-top: 6rem !important;
    }
    .intro{
        padding: 0 !important;
        margin: 0 !important;
        height: 100vh;
        width: 100%;
        margin-bottom: 0.5rem !important;
        
    }
    .intro img{
        width: 100%;
        height: 100%;
        object-fit: cover !important;
        background-repeat: no-repeat;
            
    }
    .title-box-d{
        padding-top: 0.5rem;
    }
    .section-t3{
        padding-top: 0.5rem;
    }

}